// Fonts

$ff-main: "Red Hat Display", serif;
$fs-h1: clamp(2.5rem, 1rem + 4.16666vw, 4rem);
$fs-h2: clamp(2rem, 1rem + 2.60416vw, 2.5rem);
$fs-body: clamp(1rem, 0.5rem + 1vw, 1.125rem);
$fs-subtitle: clamp(0.75rem, 0.5rem + 0.78125vw, 1rem);
$fs-button: 1rem;

// Colors

$cyan-600: #4D96A9;
$cyan-300: #8FE3F9;
$cyan-hover: #71C0D4;
$purple-600: #845eb0;
$purple-300: #D9B8FF;
$purple-hover: #b28cde;
$slate-900: #28283D;
$slate-600: #87879D;
$slate-300: #D1D1DF;
$white: #FAFAFA;

$space-50: 0.25rem;
$space-100: 0.5rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-500: 2.5rem;
$space-600: 3rem;
$space-700: 3.5rem;
$space-800: 4rem;
$space-900: 4.5rem;
$space-1000: 5rem;
$space-1400: 7rem;